@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}

body{
    font-family:"Lato", sans-serif;
}
li{
    list-style:none;

}
a{
    text-decoration:none;
    color:inherit;

}

nav{
    display:flex;
    align-items:center;
    width:100%;
    height:90px;

    background-color: #000000;
    color:#CCCCCC;

}
.responsive-icon{
    position:absolute;
    left:2%;

    cursor:pointer;
}
.bar{    
    border-width:1px;
    border-style:solid;
    border-color:#cccccc;
    border-radius:10px;
    margin:10px;

    width:35px;
}
#div-logo{
    position:relative;
    left:50%;
    
}
#logo{
    width:50px;
}

#account-menu{
    display:flex;
    position:relative;
    width:50%;
    left:61%;
    
    align-items:center;
}
#account-list{
    display:flex;
    width:45%;
    font-weight: bold;;
    
}
#account-list li{   
    font-size:20px;
}

#second-li{
    margin:0 0 0 10%;
}

#account-icons{
    display:flex;
}
#notification-icon, #search-icon{
    width:50px;
    
}
#notification-icon{
    margin:0 11% 0 0;
}



@media (max-width:1300px) {
    #account-menu{
        left:82vw;
     
    }
    #notification-icon{
        margin:0 1vw 0 0;
    }
    #account-list{
        display:none;
        visibility:hidden;
    }
}

@media (max-width:855px) {
    #account-menu{
        left:60vw;
        padding:0 2vw 0 0;
    }
}



